body{
    background-image: url(https://media.tenor.com/17vlILgmYxwAAAAd/demon-slayer-anime-fight.gif);
    background-size: cover;
}
.container{
    margin: 30px;
    margin-top: 125px;
    width: 400px;
    height: 550px;
    border-radius: 2%;
    padding: 1%;
    color: Black;
    margin-left: 50%;
    background-color: rgb(132, 31, 31);
    opacity: 0.85;
}
.row{
    color:rgb(250, 244, 244);
    font-size: larger;
}
input{
    border-radius: 10px;
    border-color: #E69A8DFF;
    width: 250px;
    height: 30px;
}
button{
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
button:hover:not(.active){
    border-radius: 10px;
    width: 120px;
    height: 60px;
    background-color: rgb(135, 224, 115);
}